@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Kanit:ital@1&family=Nanum+Gothic&family=Quicksand&family=Rowdies:wght@700&display=swap');

:root {
    --cor_do_titulo: #c2b41f;
    --fundo_principal: #2b2b25;
    --fundo_secundario: #d1c21b;
    --laranja: #eb5b13;
    --cinza: #786962;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;

}

a {
    text-decoration: none;
}

body {
    font-family: 'Rowdies', cursive;
    background-color: var(--fundo_principal);
}

.navebar {
    height: 70px;
    width: 100%;
    padding: 19px 30px;
    background-color: var(--cor_do_titulo);
    position: relative;
}

@media (max-width: 900px) and (min-width:890px) {

    .navebar {
        padding: 19px 30px;
        position: unset;
    }
}

.nav-header img {
    padding-right: 30px;
    padding-bottom: 50px;
}

.navebar .nav-header {
    display: inline;
}

.navebar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
}

.navebar .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.navebar .nav-links .loginBtn {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: var(--cor_do_titulo);
}

.navebar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: var(--fundo_principal);
}

.navebar .nav-links a:hover {
    background-color: var(--laranja);
}

.navebar #nav-check,
.navebar .nav-btn {
    display: none;
}

@media (max-width:700px) {
    .navebar .nav-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .navebar .nav-btn label {
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }

    .navebar .nav-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid #eee;
    }

    .navebar .nav-btn label:hover,
    .navebar #nav-check:checked~.nav-btn label {
        background-color: var(--cor_do_titulo);
        transition: all 0.5s ease;
    }

    .navebar .nav-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 50%;
        background-color: var(--cor_do_titulo);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .navebar .nav-links a {
        display: block;
    }

    .navebar #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }


    .navebar #nav-check:checked~.nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .navebar .nav-links .loginBtn {
        padding: 10px 40px;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        color: var(--cor_do_titulo);
    }


    .navebar .nav-links .dropdown,
    .navebar .nav-links .dropdown2 {
        float: none;
        width: 100%;
    }

    .navebar .nav-links .drop-content,
    .navebar .nav-links .drop-content2 {
        position: relative;
        background-color: var(--cinza);
        top: 0px;
        left: 0px;
    }

    .navebar .nav-links .drop-content a {
        color: var(--fundo_principal);
    }

}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content,
.drop-content2 {
    display: none;
    position: absolute;
    background-color: var(--cor_do_titulo);
    min-width: 120px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .drop-content,
.dropdown2:hover .drop-content2 {
    display: block;
}

.drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
}

.dropBtn .drop-content a:hover {
    background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropBtn,
.dropdown2:hover .dropBtn2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown2 .drop-content2 {
    position: absolute;
    right: 120px;
    top: 150px;
}

.dropBtn2 i {
    margin-left: 15px;
}

.container-da-imagem {
    width: 99vw;
}

.container-da-imagem img {
    width: 100%;
    height: 95.5vh;
}

@media (max-width: 900px) and (min-width:890px) {
    .container-da-imagem {
        width: 100%;
    }

    .container-da-imagem img {
        height: 100vh;
    }
}

@media (max-width:700px) {
    .container-da-imagem {
        width: 100%;
    }

    .container-da-imagem img {
        height: 50vh;
    }
}

@media (max-width: 380px) and (min-width:360px) {
    .container-da-imagem img {
        height: 30vh;
    }
}

@media (max-width: 450px) and (min-width:390px) {
    .container-da-imagem img {
        height: 30vh;
    }
}

@media (max-width: 680px) and (min-width:600px) {
    .container-da-imagem img {
        height: 80vh;
    }
}

.endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    width: 99vw;
    height: 8vh;
}

.endereco h1 {
    text-transform: uppercase;
}

.endereco h4 {
    color: var(--cinza);
}

@media (max-width: 900px) and (min-width:890px) {
    .endereco {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        height: 15vh;
    }
}

@media (max-width:700px) {
    .endereco {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10vh;
    }

}

@media (max-width: 680px) and (min-width:600px) {

    .endereco h1 {
        padding-top: 15px;
        font-size: 20px;
    }

}

@media (max-width: 450px) and (min-width:390px) {
    .endereco h1 {
        padding-left: 50px;
        font-size: 20px;
    }
}

@media (max-width: 380px) and (min-width:360px) {
    .endereco h1 {
        padding-left: 35px;
        font-size: 20px;
    }
}

.servicos {
    background-color: var(--fundo_secundario);
    height: 30vh;
    width: 99.1vw;
}

.row-do-servico {
    padding: 0;
    margin: 0;
}


@media (max-width: 900px) and (min-width:890px) {
    .servicos {
        width: 100%;
        height: 60vh;
        margin: 0;
        padding: 0;

    }

    .row-do-servico {
        padding-left: 1500px;
    }
}

.row-do-servico {
    padding-left: 150px;
}

.canvas-do-servico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-do-servico h2 {
    color: var(--fundo_principal);
}

.canvas-do-servico:nth-last-child(1) h2 {
    padding-left: 20px;
}

.canvas-do-servico:nth-last-child(2) h2 {
    padding-right: 100px;
}

@media (max-width:700px) {
    .servicos {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fundo_secundario);
        height: 50vh;
        width: 100%;

    }

    .icone-redondo {
        width: 40vw;
        height: auto;
    }

    .canvas-do-servico {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;


    }

    .canvas-do-servico h2 {
        font-size: 12px;
        color: var(--fundo_principal);
    }

    .row-do-servico {
        padding-left: 0;
    }

    .container-do-servico {
        padding-left: 72px;
    }

    .canvas-do-servico:nth-last-child(1) h2 {
        padding-left: 15px;
    }

    .canvas-do-servico:nth-last-child(2) h2 {
        padding-right: 0;
    }
}

@media (max-width: 680px) and (min-width:600px) {

    .row-do-servico {
        padding-left: 0;
    }

    .container-do-servico {
        padding-left: 150px;
    }

    .canvas-do-servico:nth-last-child(1) {
        padding-right: 15px;
    }

    .canvas-do-servico:nth-last-child(1) h2 {
        padding-left: 35px;
    }

    .canvas-do-servico:nth-last-child(2) h2 {
        padding-left: 20px;
    }

    .canvas-do-servico:nth-last-child(3) h2 {
        padding-left: 25px;
    }

}

.sevicos-principais {

    padding: 0;
    margin: 0;
    width: 99vw;
    height: 100%;
}

@media (max-width: 900px) and (min-width:890px) {
    .sevicos-principais {
        width: 100%;
    }

    .caixa-de-texto {
        max-height: 105vh;
    }
}

.row-do-servico {
    display: grid;
    grid-template-columns: auto auto auto;
}

.texto-do-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.texto-do-servicos h1 {
    text-transform: uppercase;
}

.texto-do-servicos h4 {
    color: var(--cinza);
}

.grid-do-texto {

    display: grid;
    grid-template-columns: auto auto auto auto;

}


.caixa-de-texto {
    font-style: italic;
    line-height: 32px;
    font-size: 20px;
    background-color: silver;
    margin: 10px;
    padding: 15px 20px 10px 20px;
    border-radius: 5px;

}

.caixa-do-texto a {
    color: var(--cinza);
}

@media (max-width:700px) {
    .grid-do-texto {
        display: flex;
        flex-direction: column;

    }

    .sevicos-principais a {
        text-decoration: none;
        color: var(--fundo_principal);
    }

    .sevicos-principais {
        width: 100%;
    }
}

.contato {
    background-color: var(--fundo_secundario);
    padding: 0;
    margin: 0;
    width: 99vw;
    height: 100%;
}

.caixa-do-contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mapa {
    height: 40vh;
    width: 20vw;
}

@media (max-width: 900px) and (min-width:890px) {

    .contato {
        width: 100%;
    }

    #mapa {
        height: 70vh;
        width: 50vw;
    }
}

@media (max-width:700px) {
    .contato {
        width: 100%;
        height: 100%;
    }

    .caixa-do-contato {
        display: flex;
        flex-direction: column;
    }

    #mapa {
        height: 40vh;
        width: 60vw;
    }
}

@media (max-width: 680px) and (min-width:600px) {
    #mapa {
        height: 70vh;
        width: 60vw;
    }
}

@media (max-width: 450px) and (min-width:390px) {
    #mapa {
        height: 40vh;
        width: 80vw;
    }
}

@media (max-width: 380px) and (min-width:360px) {
    #mapa {
        height: 30vh;
        width: 60vw;
    }
}

.referencia {
    padding: 0;
    margin: 0;
    width: 99vw;
    height: 100%;
}

.caixa-da-referencia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre {
    max-width: 20vw;
}

.sobre a {
    color: var(--cinza);
}

.sobre:nth-child(1) {
    padding-right: 30px;
}

@media (max-width:700px) {
    .referencia {
        width: 100%;
        height: 100%;
    }

    .caixa-da-referencia {
        display: flex;
        flex-direction: column;
    }

    .sobre {
        max-width: 60vw;
    }

    .sobre:nth-child(2) {
        padding-top: 40px;
    }
}

.icone-do-facebook {
    background-color: var(--fundo_secundario);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    width: 99vw;
    height: 100%;

}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-facebook {

    color: var(--fundo_principal);
    font-size: 50px;
}

@media (max-width:700px) {
    .icone-do-facebook {
        width: 100%;
        height: 100%;
    }
}

.grudento {
    position: fixed;
    top: 0;
    width: 100%;
}

@media (max-width:700px) {
    .grudento {
        position: unset;
    }
}

@media (max-width: 920px) and (min-width:740px) {
    .grudento {
        position: unset;
    }
}



.botao {
    padding: 0 15px;
    transition: 0.3s;
}

.botao:hover {
    color: var(--cinza);

}