@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Kanit:ital@1&family=Nanum+Gothic&family=Quicksand&family=Rowdies:wght@700&display=swap');

:root {
    --cor_do_titulo: #c2b41f;
    --fundo_principal: #2b2b25;
    --fundo_secundario: #d1c21b;
    --laranja: #eb5b13;
    --cinza: #786962;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;

}

a {
    text-decoration: none;
}

body {
    font-family: 'Rowdies', cursive;
    background-color: var(--fundo_principal);
    background-size: cover;
    background-attachment: fixed;
}

.navebar {
    height: 70px;
    width: 100%;
    padding: 19px 30px;
    background-color: var(--cor_do_titulo);
    position: relative;
}

.nav-header img {
    padding-right: 30px;
    padding-bottom: 50px;
}

.navebar .nav-header {
    display: inline;
}

.navebar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
}

.navebar .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.navebar .nav-links .loginBtn {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
    color: var(--cor_do_titulo);
}

.navebar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: var(--fundo_principal);
}

.navebar .nav-links a:hover {
    background-color: var(--laranja);
}

.navebar #nav-check,
.navebar .nav-btn {
    display: none;
}

@media (max-width:700px) {
    .navebar .nav-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .navebar .nav-btn label {
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }

    .navebar .nav-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid #eee;
    }

    .navebar .nav-btn label:hover,
    .navebar #nav-check:checked~.nav-btn label {
        background-color: var(--cor_do_titulo);
        transition: all 0.5s ease;
    }

    .navebar .nav-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 50%;
        background-color: var(--cor_do_titulo);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .navebar .nav-links a {
        display: block;
    }

    .navebar #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }


    .navebar #nav-check:checked~.nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .navebar .nav-links .loginBtn {
        padding: 10px 40px;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        color: var(--cor_do_titulo);
    }


    .navebar .nav-links .dropdown,
    .navebar .nav-links .dropdown2 {
        float: none;
        width: 100%;
    }

    .navebar .nav-links .drop-content,
    .navebar .nav-links .drop-content2 {
        position: relative;
        background-color: var(--cinza);
        top: 0px;
        left: 0px;
    }

    .navebar .nav-links .drop-content a {
        color: var(--fundo_principal);
    }

}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content,
.drop-content2 {
    display: none;
    position: absolute;
    background-color: var(--cor_do_titulo);
    min-width: 120px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .drop-content,
.dropdown2:hover .drop-content2 {
    display: block;
}

.drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
}

.dropBtn .drop-content a:hover {
    background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropBtn,
.dropdown2:hover .dropBtn2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown2 .drop-content2 {
    position: absolute;
    right: 120px;
    top: 150px;
}

.dropBtn2 i {
    margin-left: 15px;
}

.afro-flap {
    padding-top: 50px;
    background-color: var(--fundo_secundario);
    margin: 0;
    padding: 0;
    padding-bottom:250px ;
    width: 100%;
    height: auto;
}

.texto-do-flap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-do-flap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-do-flap h3{
    max-width: 20vw;
}

.caixa-do-flap img{
    width: 30vw;
    height: 60vh;
}

@media (max-width:700px){
    .afro-flap{
        padding-bottom: 50px;
    }

    .caixa-do-flap{
        display: flex;
        flex-direction: column;
    }

    .caixa-do-flap h3{
        max-width: 50vw;
    }

    .caixa-do-flap img{
        width: 70vw;
        height: 40vh;
    }
}

.icone-do-facebook {
    padding-top: 20px;
    margin: 0;
    width: 100%;
    height: 100%;

}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-facebook {

    color: var(--fundo_secundario);
    font-size: 50px;
}

@media (max-width:700px) {
    .icone-do-facebook {
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }
}

.grudento {
    position: fixed;
    top: 0;
    width: 100%;
}

@media (max-width:700px) {
    .grudento {
        position: unset;
    }
}